appdirs==1.4.3
django==1.11.16
django-forms-bootstrap==3.0.1
django-gravatar2==1.4.2
disqus==0.0.4
ignore==0.1.4
olefile==0.44
packaging==18.0
Pillow==4.0.0
pip==18.1
pyparsing==2.3.0
requests==2.20.1
six==1.11.0
stripe==2.11.0
