{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

        {% if next %}


            <div id="loginPage">
                <form role="form" method="post" action="{% url 'login' %}?next={{ next }}">
                {% else %}
                <form role="form" method="post" action="{% url 'login' %}">
                {% endif %}

                    <legend>Member Login</legend>
                    {% csrf_token %}
                    {{ form | as_bootstrap }}


                    <div class="passwordReset">
                    <p><a href="{% url 'password_reset' %}">Forgot my password</a></p>
                        </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>

                </form>
         </div>
{% endblock %}