{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}

    <h2 class="teeRequest"> Request a Tee Time Online </h2>
<div>
    <form class="teeTimeForm" action="{% url 'request' %}" method="post" role=form">

        <p>
            First Name:
            <br>
            <input type="text" name="firstname">
            <br> Last Name:
            <br>
            <input type="text" name="lastname">
            <br> Desired DAY of Tee Time:
            <br>
            <input type="date" name="date">
            <br> Desired HOUR Tee Time:
            <br>
            <input type="time" name="time">
            <br>
            <br> Number of Golfers:
            <br>
            <input type="number" name="golfers">
            <br> Contact Number:
            <br>
            <input type="number" name="contact">
            <br> E-mail:
            <br>
            <input type="email" name="email">
            <br>
            <button type="submit" class="btn btn-success"> Submit </button>


        </p>
        {% csrf_token %}
    </form>
</div>


{% endblock %}
