{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}

    <div class="theTeetime">
        <h2> Request a Tee Time Online </h2>
        <div class="teeTimeForm">
            <form>
                <p>
                    First Name:<br>
                    <input type="text" name="firstname"><br>
                    Last Name:<br>
                    <input type="text" name="lastname"><br>
                    Desired Date:<br>
                    <input type="text" name="date"><br>
                    Desired Tee Time:<br>
                    <input type="text" name="firstchoice"><br>
                    Second Choice:<br>
                    <input type="text" name="secondchoice"><br>
                    Number of Golfers:<br>
                    <input type="text" name="golfers"><br>
                    <button type="button"> Submit </button>
                </p>
            </form>
        </div>
    </div>
{% endblock %}